html, body {
    background:                         unset;
    animation-name:                     unset;
}



#form {
    animation-name:                     unset;
    opacity:                            unset;
}
