html, body {
    background:                         unset;
    animation-name:                     unset;
}



#form {
    width:                              unset;
    margin:                             0;
    padding:                            112px 96px 0 96px;
    animation-name:                     unset;
    opacity:                            unset;
}



#avatar-wrap {
    height:                             192px;
    width:                              192px;
    padding-bottom:                     208px;
    margin:                             0 auto;
}

#avatar-img,
.no-avatar {
    position:                           absolute;
    height:                             192px;
    width:                              192px;
    border-radius:                      96px;
    font-size:                          48px;
}

#avatar-img.invisible {
    opacity:                            0;
}

#avatar-upload-button,
#avatar-crop-button {
    margin:                             0 auto 48px;
}

#avatar-section-crop .img-container {
    width:                              192px;
    height:                             192px;
    margin:                             0 auto 16px;
}

input[type="file"] {
    display:                            none;
}



#button-submit {
    margin:                             48px 0 0 auto;
}
