html, body {
    background:                         unset;
    animation-name:                     unset;
}



#form {
    animation-name:                     unset;
    opacity:                            unset;
}



#avatar-wrap {
    height:                             192px;
    width:                              192px;
    padding-bottom:                     216px;
    margin:                             0 auto;
}

#avatar-img,
.no-avatar {
    position:                           absolute;
    height:                             192px;
    width:                              192px;
    border-radius:                      96px;
}



input[type="file"] {
    display:                            none;
}
