#column {
    width:                              712px;
    margin:                             60px auto 128px;
}



#top {
    display:                            grid;
}

#top img {
    width:                              240px;
    height:                             240px;
    border-radius:                      120px;
    margin:                             0 auto 16px;
    object-fit:                         cover;
}

#top .title {
    margin:                             0 auto 4px;
    font-size:                          40px;
    font-family:                        'Circular', serif;
    font-weight:                        300;
}

#top .subtitle {
    margin:                             0 auto;
}



#actions {
    display:                            flex;
    align-items:                        center;
    height:                             92px;
    width:                              max-content;
    margin-left:                        auto;
}

#actions .button {
    margin-left:                        10px;
}



.content-fold {
    margin-bottom:                      48px;
}



@media (max-width: 840px) {

    #column {
        width: 100%;
        margin: 0;
        padding: 100px 24px 48px;
        overflow-x: hidden;
    }

    #top img {
        width: 144px;
        height: 144px;
        border-radius: 72px;
    }

    #top .title {
        font-size:                      36px;
        margin-bottom: 2px;
    }

    #actions {
        width: 100%;
        height: unset;
        margin: 32px auto 64px;
        flex-wrap: wrap;
        row-gap: 12px;
        column-gap: 8px;
        justify-content: center;
    }

    #actions .button {
        margin: 0;
    }
}
