* {
    box-sizing:                         border-box;
    margin: 						    0;
    padding: 						    0;
}

html, body {
    background-color:                   white;
    -webkit-font-smoothing:             antialiased;
}

p {
    color:                              black;
    font-family:                        'Source Sans Pro', sans-serif;
}
