* {
    box-sizing:                         border-box;
    margin: 						    0;
    padding: 						    0;
}

html, body {
    background-color:                   white;
    color:                              black;
    font-size:                          14px;
    font-family:                        'Source Sans Pro', sans-serif;
    font-weight:                        300;
    -webkit-font-smoothing:             antialiased;
}




.title {
    font-size:                          18px;
    font-family:                        'Circular', serif;
    font-weight:                        200;
}





.button {
    display:                            flex;
    align-items:                        center;
    width:                              fit-content;
    height:                             28px;
    padding:                            0 14px 2px;
    border-radius:                      14px;
    font-size:                          12px;
    font-family:                        'Circular', serif;
    font-weight:                        200;
    background:                         #FFDD34;
    color:                              black;
    border:                             none;
    cursor:                             pointer;
}

.button:hover {
    background:                         #FFE45B;
}

.button.large {
    height:                             32px;
    padding:                            0 16px 2px;
    font-size:                          14px;
    border-radius:                      16px;
}

.button.icon {
    padding:                            0 14px 0 10px;
}

.button.icon .icon {
    height:                             16px;
    margin:                             0 6px 0 0;
}

.button.icon-reverse {
    padding:                            0 10px 0 14px;
}

.button.icon-reverse .icon {
    height:                             16px;
    margin:                             0 0 0 6px;
}

.button.icon .text,
.button.icon-reverse .text {
    padding-bottom:                     2px;
}

.button-free {
    font-size:                          12px;
    color:                              #808080;
    cursor:                             pointer;
}





input {
    width:                              100%;
    border:                             none;
    background:                         none;
    font-size:                          14px;
    font-family:                        'Source Sans Pro', sans-serif;
    font-weight:                        300;
}

input:focus {
    outline:                            none;
}

::placeholder {                         color: #B3B3B3; opacity: 1; }

::-ms-input-placeholder {               color: #B3B3B3;}

:-ms-input-placeholder {                color: #B3B3B3;}


.box-input {
    display:                            flex;
    align-items:                        center;
    width:                              100%;
    height:                             40px;
    border-bottom:                      1px solid #CCCCCC;
    padding-left:                       8px
}

.box-input:focus-within {
    border-bottom:                      1px solid black;
}

.box-input .icon {
    width:                              20px;
    height:                             20px;
    margin-right:                       10px;
    opacity:                            .7;
}

.box-input:focus-within .icon {
    opacity:                            1;
}





.block-attributes .title {
    padding:                            0 0 16px 4px;
}

.block-attributes .list-attributes {
    width:                              324px;
    padding:                            16px 0 8px 32px;
    margin:                             0 0 48px;
    background:                         #F8F8F8;
}

.list-attributes .attribute {
    display:                            flex;
    align-items:                        center;
    height:                             48px;
    margin-bottom:                      16px;
}

.attribute .tag {
    width:                              100px;
    color:                              #666666;
}

.attribute .value {

}





@font-face {
    font-family:                        'Circular';
    src:                                url('/fonts/circular-book.otf') format("opentype");
    font-weight:                        100;
}

@font-face {
    font-family:                        'Circular';
    src:                                url('/fonts/circular-medium.otf') format("opentype");
    font-weight:                        200;
}

@font-face {
    font-family:                        'Circular';
    src:                                url('/fonts/circular-bold.otf') format("opentype");
    font-weight:                        300;
}

@font-face {
    font-family:                        'Circular';
    src:                                url('/fonts/circular-black.otf') format("opentype");
    font-weight:                        400;
}





/*   REMOVE CLEAR CROSS FROM INPUT FIELDS IN IE AND CHROME   */

input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
