* {
    box-sizing:                         border-box;
    margin: 						    0;
    padding: 						    0;
}

html, body {
    background-color:                   white;
    -webkit-font-smoothing:             antialiased;
}

p {
    color:                              black;
    font-family:                        'Source Sans Pro', sans-serif;
}





.button {
    height:                             28px;
    padding:                            0 14px;
    font-size:                          12px;
    border-radius:                      14px;
    background:                         #FFDD34;
    color:                              black;
    font-family:                        'Circular', serif;
    font-weight:                        200;
}

.button.large {
    height:                             32px;
    padding:                            0 16px;
    font-size:                          14px;
    border-radius:                      16px;
}





@font-face {
    font-family:                        'Circular';
    src:                                url('/fonts/circular-book.otf') format("opentype");
    font-weight:                        100;
}

@font-face {
    font-family:                        'Circular';
    src:                                url('/fonts/circular-medium.otf') format("opentype");
    font-weight:                        200;
}

@font-face {
    font-family:                        'Circular';
    src:                                url('/fonts/circular-bold.otf') format("opentype");
    font-weight:                        300;
}

@font-face {
    font-family:                        'Circular';
    src:                                url('/fonts/circular-black.otf') format("opentype");
    font-weight:                        400;
}
