* {
    box-sizing:                         border-box;
    margin: 						    0;
    padding: 						    0;
}

html {
    background-color:                   white;
    color:                              black;
    font-size:                          14px;
    font-family:                        'Source Sans Pro', sans-serif;
    font-weight:                        300;
    -webkit-font-smoothing:             antialiased;
    overscroll-behavior:                none;
}





#tooltip {
    position:                           absolute;
    padding:                            2px 6px 3px;
    border-radius:                      4px;
    font-weight:                        600;
    font-size:                          12px;
    background:                         #000000CC;
    color:                              white;
    opacity:                            0;
    z-index:                            999;
}





#wrap {
    position:                           fixed;
    width:                              100vw;
    height:                             100vh;
    overflow-y:                         scroll;
    z-index:                            1;
}





#menu {
    position:                           fixed;
    display:                            grid;
    grid-template-rows:                 auto 1fr;
    height:                             100vh;
    padding:                            123px 64px 0;
    z-index:                            2;
}

#menu .item {
    display:                            flex;
    align-items:                        center;
    height:                             76px;
    padding:                            22px 0 22px 16px;
    cursor:                             pointer;
}

#menu .item .label {
    font-size:                          14px;
    font-family:                        'Circular', serif;
    font-weight:                        100;
    color:                              #000000
}

#menu .item img {
    height:                             32px;
    width:                              32px;
    border-radius:                      16px;
    margin-left:                        14px;
    padding:                            8px;
    background:                         #FFDD34;
    visibility:                         hidden;
    transition:                         all 0s linear;
}

#menu .item:hover .label {
    font-size:                          14px;
    font-family:                        'Circular', serif;
    font-weight:                        200;
    color:                              #000000;
}

#menu .item:hover img {
    visibility:                         visible;
    transform:                          translate(4px, 0);
    transition:                         all .2s ease-out;
}

#menu-actions {
    display:                            flex;
    margin:                             auto auto 48px 0;
}

#button-logout,
#button-settings {
    width:                              24px;
    height:                             24px;
    cursor:                             pointer;
}

#button-logout {
    margin-right:                       24px;
}

#button-menu,
#button-back {
    width:                              40px;
    height:                             40px;
    margin:                             0 12px;
    border-radius:                      20px;
    padding:                            8px;
    background:                         transparent;
    cursor:                             pointer;
}

#button-menu:hover,
#button-back:hover {
    background:                         #F0F0F0;
}





#header {
    position:                           fixed;
    display:                            flex;
    width:                              100%;
    top:                                0;
    align-items:                        center;
    height:                             80px;
    padding-right:                      64px;
    z-index:                            3;
}

#header .person {
    margin-left:                        auto;
}

#header .person img,
#header .person .no-avatar {
    width:                              40px;
    height:                             40px;
    margin:                             0 0 0 12px;
    border-radius:                      20px;
}

#header .person .no-avatar {
    padding:                            11px 1px 0 0;
    font-size:                          14px;
    text-align:                         center;
}

#header .person .name {
    margin:                             0 0 1px auto;
}

#header .person .role {
    margin:                             0 0 0 auto;
}





#actions {
    display:                            flex;
    align-items:                        center;
    height:                             60px;
    width:                              max-content;
    margin-left:                        auto;
}

#actions .button {
    margin-left:                        10px;
}





#content {

}

.content-columns {
    display:                            grid;
    grid-template-columns:              1fr 64px 1fr;
}

.content-columns .left {
    grid-area:                          left;
}

.content-columns .right {
    grid-area:                          right;
}

.content-columns .wide {
    grid-area:                          wide;
}





.title {
    font-size:                          18px;
    font-family:                        'Circular', serif;
    font-weight:                        200;
}

.title.page {
    font-size:                          30px;
    letter-spacing:                     -1px;
}

.subtitle {
    font-size:                          14px;
    font-family:                        'Circular', serif;
    font-weight:                        100;
}





.dot {
    color:                              #FFDD34;
    font-family:                        'Circular', serif;
    font-weight:                        200;
    font-size:                          30px;
    letter-spacing:                     -1px;
}





.button {
    display:                            flex;
    align-items:                        center;
    width:                              fit-content;
    height:                             28px;
    padding:                            0 14px 2px;
    border-radius:                      14px;
    font-size:                          12px;
    font-family:                        'Circular', serif;
    font-weight:                        200;
    background:                         #FFDD34;
    color:                              black;
    border:                             none;
    cursor:                             pointer;
}

.button:hover {
    background:                         #FFE45B;
}

.button.grey {
    color:                              black;
    background:                         #E6E6E6;
}

.button.grey:hover {
    background:                         #EBEBEB;
}

.button.large {
    height:                             32px;
    padding:                            0 16px 2px;
    font-size:                          14px;
    border-radius:                      16px;
}

.button.icon {
    padding:                            0 14px 0 10px;
}

.button.icon .icon {
    height:                             16px;
    margin:                             0 6px 0 0;
}

.button.icon-reverse {
    padding:                            0 10px 0 14px;
}

.button.icon-reverse .icon {
    height:                             16px;
    margin:                             0 0 0 6px;
}

.button.icon .text,
.button.icon-reverse .text {
    padding-bottom:                     2px;
}

.button.transparent {
    background:                         none;
}

.button.transparent:hover {
    background:                         #F0F0F0;
}

.button-free {
    font-size:                          12px;
    color:                              #808080;
    cursor:                             pointer;
}

button:focus {
    outline:                            none;
}




.tag {
    height:                             24px;
    width:                              min-content;
    border-radius:                      12px;
    padding:                            4px 12px;
    font-family:                        'Circular', serif;
    font-weight:                        200;
    font-size:                          12px;
}



.comment {
    width:                              100%;
    padding:                            16px 24px 16px 32px;
    background-color:                   #FFF7D1;
    font-style:                         italic;
}

.comment-tail {
    height:                             0;
    width:                              0;
    border-top:                         20px solid #FFF7D1;
    border-left:                        20px solid transparent;
}





.person {
    display:                            flex;
    align-items:                        center;
    cursor:                             pointer;
}

.person img {
    object-fit:                         cover;
}

.person .values {
    height:                             72px;
    width:                              100%;
    padding:                            17px 16px 0 32px;
    background:                         #F8F8F8;
}

.person:hover .values {
    background:                         #F0F0F0;
}

.person .name {
    margin:                             0 0 1px 0;
    font-weight:                        600;
}

.person .role {
    margin:                             0;
    color:                              #666666;
}

.person.large {
    margin-bottom:                      0;
}

.person.large img,
.person.large .no-avatar {
    width:                              96px;
    height:                             96px;
    margin:                             0 24px 0 0;
    border-radius:                      48px;
}

.person.regular {
    margin-bottom:                      24px;
}

.person.regular img,
.person.regular .no-avatar {
    width:                              72px;
    height:                             72px;
    margin:                             0 24px 0 0;
    border-radius:                      36px;
}

.no-avatar {
    display:                            flex;
    align-items:                        center;
    justify-content:                    center;
    background:                         #CCCCCC;
    color:                              white;
    font-family:                        'Circular', serif;
    font-weight:                        200;
    font-size:                          22px;
    letter-spacing:                     -.7px;
}





#agreements {
    display:                            flex;
    width:                              max-content;
}

.agreement {
    width:                              max-content;
    padding:                            22px 24px 46px 32px;
    margin-right:                       48px;
    line-height:                        24px;
    background:                         #F8F8F8;
}

.agreement .title {
    font-family:                        'Circular', serif;
    font-weight:                        200;
    font-size:                          12px;
    text-decoration:                    underline;
}





input {
    width:                              100%;
    height:                             100%;
    border:                             none;
    background:                         none;
    font-size:                          14px;
    font-family:                        'Source Sans Pro', sans-serif;
    font-weight:                        300;
    padding-left:                       4px;
}

input:-webkit-autofill {
    -webkit-box-shadow:                 none;
}

input:-webkit-autofill::first-line {
     font-size:                         14px;
     font-family:                       'Source Sans Pro', sans-serif;
     font-weight:                       300;
}

input:focus {
    outline:                            none;
}

input[type="date"] {
    margin-right:                       10px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    opacity:                            0.7;
}

.input-invalid {
    position:                           absolute;
    margin:                             6px 0 0 4px;
    font-size:                          12px;
    color:                              red;
}

select {
    width:                              100%;
    height:                             100%;
    border:                             none;
    background:                         none;
    font-size:                          14px;
    font-family:                        'Source Sans Pro', sans-serif;
    font-weight:                        400;
    cursor:                             pointer;
    text-align:                         center;
    text-align-last:                    center;
    -moz-text-align-last:               center;
    -moz-appearance:                    none;
    -webkit-appearance:                 none;
}

select:focus {
    outline:                            none;
}

select::-ms-expand {
    display:                            none;
}

::placeholder {                         color: #B3B3B3; opacity: 1; }

::-ms-input-placeholder {               color: #B3B3B3;}

:-ms-input-placeholder {                color: #B3B3B3;}


.box-input {
    display:                            flex;
    align-items:                        center;
    width:                              100%;
    height:                             40px;
    border-bottom:                      1px solid #CCCCCC;
}

.box-input:focus-within {
    border-bottom:                      1px solid black;
}

.box-input.invalid,
.box-input.invalid:focus-within {
    border-bottom:                      1px solid red
}

.box-input .icon {
    width:                              20px;
    height:                             20px;
    margin-right:                       10px;
    opacity:                            .7;
}

.box-input:focus-within .icon {
    opacity:                            1;
}

.box-input.autocomplete {
    background:                         #FFFBE5;
}

.box-select {
    width:                              100%;
    height:                             40px;
    background:                         #F8F8F8;
}

.box-select:hover {
    background:                         #F0F0F0;
}




/** TEST - TO BE ALTERED **/

.autocomplete {

}

.autocomplete-list {
    position:                           absolute;
    z-index:                            99;
    width:                              312px;
}

.autocomplete-item {
    display:                            flex;
    align-items:                        center;
    height:                             48px;
    padding-left:                       16px;
    background:                         #F8F8F8;
    color:                              #999999;
    cursor:                             pointer;
    white-space:                        pre;
}

.autocomplete-item:hover {
    background-color:                   #F0F0F0;
}

.autocomplete-item.active {
    background-color:                   #F0F0F0 !important;
}





.block-attributes {
    margin:                             0 0 48px;
}

.block-attributes .title {
    padding:                            0 0 16px 4px;
}

.block-attributes .list-attributes {
    padding:                            16px 0 8px 32px;
    background:                         #F8F8F8;
}

.list-attributes .attribute {
    display:                            flex;
    align-items:                        center;
    height:                             48px;
    margin-bottom:                      16px;
}

.attribute .name {
    width:                              100px;
    color:                              #666666;
}

.attribute .value {

}





.block-users {
    margin:                             0 0 48px;
}

.block-users .title {
    padding:                            0 0 16px 4px;
}

.block-users .list-users {
    padding-top:                        8px;
}





.block-form .title {
    padding-bottom:                     8px;
}

.block-form .field {
    margin:                             32px 0 0 16px;
}

.field {
    display:                            flex;
}

.field .name,
.field .note {
    display:                            flex;
    align-items:                        center;
    height:                             40px;
    color:                              #666666;
}

.field .name {
    width:                              200px;
}

.field .note {
    justify-content:                    center;
}

.field .box-input,
.field .box-select {
    width:                              312px;
}

.block-form .width-third {
    width:                              104px;
}





@font-face {
    font-family:                        'Circular';
    src:                                url('/fonts/circular-book.otf') format("opentype");
    font-weight:                        100;
}

@font-face {
    font-family:                        'Circular';
    src:                                url('/fonts/circular-medium.otf') format("opentype");
    font-weight:                        200;
}

@font-face {
    font-family:                        'Circular';
    src:                                url('/fonts/circular-bold.otf') format("opentype");
    font-weight:                        300;
}

@font-face {
    font-family:                        'Circular';
    src:                                url('/fonts/circular-black.otf') format("opentype");
    font-weight:                        400;
}





/*   REMOVE CLEAR CROSS FROM INPUT FIELDS IN IE AND CHROME   */

input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
