#column {
    margin:                             128px 64px 0;
}

.calendar-header,
.calendar-day {
    height:                             64px;
    display:                            grid;
    grid-auto-flow:                     column;
    grid-gap:                           2px;
}

.calendar-header {
    place-items:                        center start;
    grid-template-columns:              repeat(18, 1fr);
}

.calendar-day {
    grid-template-columns:              repeat(72, 1fr);
}

.calendar-day .date {
    place-self:                         center start;
}

.study {
    background:                         lightblue;
    color:                              black;
    border-radius:                      4px;
}
