#column {
    margin: 100px 48px 128px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-auto-flow: column;
    grid-gap: 32px;
    overflow: hidden;
}

#column .left,
#column .right {
    overflow-x: hidden;
    overflow-y: scroll;
}



.graph {
    width: 100%;
    background: #F8F8F8;
    padding: 32px;
    margin-bottom: 32px;
}

.graph canvas {
    height: 300px;
}

.graph-options {
    display: flex;
    align-items: center;
    margin: 24px 0;
}

.graph-options .option {
    height: 24px;
    background: #E0E0E0;
    border-radius: 12px;
    padding: 2px 12px;
    margin-right: 8px;
    font-weight: 300;
    cursor: pointer;
    opacity: .5;
}

.graph-options .option.selected,
.graph-options .option:hover {
    opacity: 1;
}



#module-announcements {
    width: 100%;
    background: #F8F8F8;
    padding: 32px;
    margin-bottom: 32px;
}

#module-announcements-top {
    display: flex;
    align-items: center;
}

#module-announcements-top .button {
    margin-left: auto;
}

#module-announcements .list {
    margin-top: 32px;
}

#module-announcements .announcement {
    padding: 24px;
    margin-bottom: 24px;
    border-radius: 16px;
    background: white;
    border: 1px solid black;
}

#module-announcements .announcement .title {
    padding-bottom: 24px;
}

#module-announcements .announcement .text {
    padding-bottom: 24px;
    line-height: 21px;
}
