#column {
    width: 712px;
    margin: 100px auto 128px;
}

.graph {
    width: 100%;
    background: #f3f3f3;
    padding: 32px;
    margin-bottom: 32px;
}

.graph canvas {
    height: 300px;
}

.graph-options {
    display: flex;
    align-items: center;
    margin: 16px 0 24px;
}

.graph-options .option {
    height: 24px;
    background: #E0e0e0;
    border-radius: 12px;
    padding: 2px 12px;
    margin-right: 8px;
    font-weight: 300;
    cursor: pointer;
    opacity: .5;
}

.graph-options .option.selected,
.graph-options .option:hover {
    opacity: 1;
}
