#column {
    width: 712px;
    margin: 100px auto 128px;
}



.graph {
    width: 100%;
    background: #f3f3f3;
    padding: 32px;
    margin-bottom: 32px;
}

.graph canvas {
    height: 300px;
}

.graph-options {
    display: flex;
    align-items: center;
    margin: 24px 0;
}

.graph-options .option {
    height: 24px;
    background: #E0e0e0;
    border-radius: 12px;
    padding: 2px 12px;
    margin-right: 8px;
    font-weight: 300;
    cursor: pointer;
    opacity: .5;
}

.graph-options .option.selected,
.graph-options .option:hover {
    opacity: 1;
}



#module-announcements {
    width: 100%;
    background: #f3f3f3;
    padding: 32px;
    margin-bottom: 32px;
}

#module-announcements-top {
    display: flex;
    align-items: center;
}

#module-announcements-top .button {
    margin-left: auto;
}

#module-announcements .list {
    margin-top: 32px;
}

#module-announcements .announcement {
    background: #e6e6e6;
    padding: 16px;
    margin-bottom: 24px;
}

#module-announcements .announcement .title {
    margin-bottom: 8px;
}

#module-announcements .announcement .text {
    margin-bottom: 16px;
}
