html, body {
    padding:                            20px;
}

p {
    width:                              400px;
    padding:                            40px;
    margin-bottom:                      20px;
    color:                              black;
    background:                         #F8F8F8;
}
