#column {
    width:                              712px;
    margin:                             60px auto 128px;
}



#top {
    display:                            grid;
}

#top img {
    width:                              240px;
    height:                             240px;
    border-radius:                      120px;
    margin:                             0 auto 16px;
    object-fit:                         cover;
}

#top .title {
    margin:                             0 auto 4px;
    font-size:                          40px;
    font-family:                        'Circular', serif;
    font-weight:                        300;
    text-align:                         center;
}

#top .subtitle {
    margin:                             0 auto;
}



#actions {
    display:                            flex;
    align-items:                        center;
    height:                             92px;
    width:                              max-content;
    margin-left:                        auto;
}

#actions .button {
    margin-left:                        10px;
}



.content-fold {
    margin-bottom:                      48px;
}



#pva {
    margin-top:                         40px;
}

#pva .title {
    padding-bottom:                     40px;
}

#pva .subtitle {
    padding-bottom:                     4px;
    font-size:                          14px;
    font-family:                        'Circular', serif;
    font-weight:                        100;
}





.agreements {
    padding-top:                        24px;
    margin-bottom:                      96px;
}

.agreements .content {
    display: flex;
    align-items: center;
}

.agreements .title {
    padding:                            16px 0 16px 4px;
}

.agreements .wrap {
    width:                              712px;
    overflow-x:                         hidden;
}

.agreements .button-previous,
.agreements .button-next {
    width:                              32px;
    height:                             32px;
    border-radius:                      16px;
    padding:                            8px;
    background:                         transparent;
    display:                            none;
    pointer-events:                     all;
}

.agreements .button-previous:hover,
.agreements .button-next:hover {
    background:                         #E6E6E6;
}

.agreements .button-previous {
    margin-left:                        -60px;
    margin-right:                       28px;
}

.agreements .button-next {
    margin-right:                       -60px;
}





.block-note {
    width:                              712px;
    height:                             172px;
    padding-top:                        80px;
    text-align:                         center;
    color:                              #666666;
    background:                         #F8F8F8;
}



@media (max-width: 840px) {

    .no-title {
        display: none;
    }

    #column {
        width: 100%;
        margin: 0;
        padding: 100px 24px 48px;
        overflow-x: hidden;
    }

    #top img,
    #avatar .no-avatar {
        width: 144px;
        height: 144px;
        border-radius: 72px;
    }

    #top .title {
        font-size:                      36px;
        margin-bottom: 2px;
    }

    #actions {
        width: 100%;
        height: unset;
        margin: 32px auto 64px;
        flex-wrap: wrap;
        row-gap: 12px;
        column-gap: 8px;
        justify-content: center;
    }

    #actions .button {
        margin: 0;
    }

    .agreements .content {
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 1fr auto;
        grid-template-areas: "previous next" "wrap wrap";
        margin-top: -44px;
    }

    .agreements .button {
        background: #ffdd34;
    }

    .agreements .button-previous {
        grid-area: previous;
        margin: 0 0 0 auto;
    }

    .agreements .button-next {
        grid-area: next;
        margin: 0;
    }

    .agreements .wrap {
        grid-area: wrap;
        width: unset;
        margin-top: 16px;
    }
}
