#column {
    width:                              712px;
    margin:                             60px auto 128px;
}



#top {
    display:                            grid;
}

#top img {
    width:                              240px;
    height:                             240px;
    border-radius:                      120px;
    margin:                             0 auto 16px;
    object-fit:                         cover;
}

#top .title {
    margin:                             0 auto 4px;
    font-size:                          40px;
    font-family:                        'Circular', serif;
    font-weight:                        300;
}

#top .subtitle {
    margin:                             0 auto;
}



#actions {
    display:                            flex;
    align-items:                        center;
    height:                             92px;
    width:                              max-content;
    margin-left:                        auto;
}

#actions .button {
    margin-left:                        10px;
}



.content-fold {
    margin-bottom:                      48px;
}



#pva {
    margin-top:                         40px;
}

#pva .title {
    padding-bottom:                     40px;
}

#pva .subtitle {
    padding-bottom:                     4px;
    font-size:                          14px;
    font-family:                        'Circular', serif;
    font-weight:                        100;
}





.agreements {
    padding-top:                        24px;
    margin-bottom:                      48px;
}

.agreements .title {
    padding:                            16px 0 16px 4px;
}

.agreements .wrap {
    width:                              712px;

    overflow-x:                         hidden;
}

.agreements #button-previous,
.agreements #button-next {
    width:                              32px;
    height:                             32px;
    border-radius:                      16px;
    padding:                            8px;
    background:                         transparent;
    display:                            none;
    pointer-events:                     all;
}

.agreements #button-previous:hover,
.agreements #button-next:hover {
    background:                         #E6E6E6;
}

.agreements #button-previous {
    margin-left:                        -60px;
    margin-right:                       28px;
}

.agreements #button-next {
    margin-right:                       -60px;
}
