#column {
    width:                              712px;
    margin:                             40px auto 128px;
}



#actions {
    display:                            flex;
    align-items:                        center;
    height:                             92px;
    width:                              max-content;
    margin-left:                        auto;
}

#actions .button {
    margin-left:                        10px;
}



.content-columns {
    grid-template-rows:                 auto;
    grid-template-areas:                "left . right"
                                        "wide wide wide";
}

.content-fold {
    margin-bottom:                      48px;
}



#pva {
    margin-top:                         16px;
}

#pva .title {
    padding-bottom:                     24px;
}
