.wrap {
    height:                             100vh;
    display:                            grid;
    grid-template-rows:                 1fr auto 1fr;
    grid-template-columns:              1fr auto 1fr;
    grid-template-areas:                ". . ."
                                        ". content ."
                                        ". . .";
}

.content {
    grid-area:                          content;
    display:                            grid;
    width:                              324px;
}

.content img {
    width:                              40px;
    height:                             40px;
    margin-right:                       16px;
}

.content .button {
    margin-top:                         40px;
}
