.wrap {
    height:                             100vh;
    display:                            grid;
    grid-template-rows:                 1fr auto 1fr;
    grid-template-columns:              1fr auto 1fr;
    grid-template-areas:                ". . ."
                                        ". content ."
                                        ". . .";
}

.content {
    grid-area:                          content;
    display:                            grid;
}

.content img {
    width:                              24px;
    height:                             24px;
    margin-left:                        8px;
}

.content .button {
    margin:                             40px auto 0;
}
