html, body {
    background:                         #E6E6E6;
    animation-name:                     in_back;
    animation-duration:                 .2s;
}



#app {
    height:                             100vh;
    display:                            grid;
    grid-template-columns:              1fr auto 1fr;
    grid-template-rows:                 1fr;
    grid-template-areas:                "left form ."
}



#left {
    grid-area:                          left;
    z-index:                            10;
}

#left .wrap {
    position:                           fixed;
    display:                            flex;
    align-items:                        center;
    height:                             80px;
}

#left #button-menu:hover,
#left #button-back:hover {
    background:                         #D9D9D9;
}



#form {
    grid-area:                          form;
    width:                              788px;
    margin-top:                         40px;
    margin-bottom:                      96px;
    padding:                            96px 130px;
    background:                         white;
    animation-name:                     in_form;
    animation-duration:                 .5s;
    animation-delay:                    .2s;
    animation-fill-mode:                forwards;
    opacity:                            0;
}



.block-form .title {
    padding-bottom:                     8px;
}

.block-form .field {
    margin:                             32px 0 0 16px;
}

.field {
    display:                            flex;
}

.field .name,
.field .note {
    display:                            flex;
    align-items:                        center;
    height:                             40px;
    color:                              #666666;
}

.field .name {
    width:                              200px;
}

.field .note {
    justify-content:                    center;
}

.field .box-input,
.field .box-select,
.field .box-clear {
    width:                              312px;
}

.block-form .width-third {
    width:                              104px;
}





#buttons {
    display:                            flex;
    margin-top:                         88px;
}

#button-submit {
    margin:                             0 8px 0 auto;
}





.seperator {
    height:                             88px;
}





.block-note {
    width:                              528px;
    height:                             172px;
    padding-top:                        80px;
    text-align:                         center;
    color:                              #666666;
    background:                         #F8F8F8;
}





.agreements {
    margin-top:                         32px;
}

.agreements .wrap {
    width:                              788px;
    overflow-x:                         hidden;
    margin-left:                        -130px;
    padding-left:                       130px;
}

.agreement {
    opacity:                            .5;
    transition:                         opacity .4s ease;
}

.agreement.active {
    opacity:                            1;
    cursor:                             pointer;
}

.agreement.disabled {
    display:                            none;
}

.agreement.active:hover,
.agreement.selected:hover {
    background:                         #F0F0F0;
}

.agreement.disabled:hover {
    background:                         #F8F8F8;
}

.agreement.selected .selector {
    background:                         #4CD976;
}

.agreement .top,
.agreement .bottom {
    display:                            flex;
    align-items:                        center;
}

.agreement .bottom {
    margin:                             16px 48px 0 0;
}

.agreement .bottom img,
.agreement .bottom .no-avatar {
    width:                              56px;
    height:                             56px;
    margin:                             0 26px 0 0;
    border-radius:                      28px;
}

.agreements .buttons {
    position:                           absolute;
    display:                            flex;
    width:                              642px;
    padding:                            70px 48px 0 0;
    z-index:                            10;
    pointer-events:                     none;
}

.agreements .buttons .button {
    width:                              32px;
    height:                             32px;
    border-radius:                      16px;
    margin-left:                        24px;
    padding:                            8px;
    background:                         #E6E6E6;
    display:                            none;
    pointer-events:                     all;
}

.agreements .buttons .button:hover {
    background:                         #EBEBEB;
}

.agreements .buttons .button.visible {
    display:                            unset;
}

.agreements .buttons .button.solo {
    background:                         #FFDD34;
}

.agreements .buttons .button.solo:hover {
    background:                         #FFE45B;
}

.agreements .buttons #button-next.solo,
.agreements .buttons #button-previous {
    margin-left:                        auto;
}

.agreement .selector {
    width:                              32px;
    height:                             32px;
    margin-left:                        auto;
    padding:                            6px;
    border-radius:                      16px;
    background:                         #E6E6E6;
}





.duration {
    display:                            flex;
    align-items:                        center;
    height:                             inherit;
}

.duration .dots {
    display:                            flex;
    padding-left:                       4px;
}

.duration .dot div {
    width:                              12px;
    height:                             12px;
    margin:                             10px 16px 10px 4px;
    border-radius:                      6px;
    background:                         #F0F0F0;
}

.duration .dot.narrow div {
    margin:                             10px 4px 10px 4px;
}

.duration .dot.active div{
    background:                         #FFDD34;
}

.duration .time {
    margin-left:                        auto;
    font-weight:                        600;
}





@keyframes in_form {
    from { opacity: 0; transform: translateY(40px) }
    to   { opacity: 1; }
}

@-moz-keyframes in_form {
    from { opacity: 0; transform: translateY(40px) }
    to   { opacity: 1; }
}

@-webkit-keyframes in_form {
    from { opacity: 0; transform: translateY(40px) }
    to   { opacity: 1; }
}

@-ms-keyframes in_form {
    from { opacity: 0; transform: translateY(40px) }
    to   { opacity: 1; }
}





@keyframes in_back {
    from { background: white; }
    to   { background: #E6E6E6; }
}

@-moz-keyframes in_back {
    from { background: white; }
    to   { background: #E6E6E6; }
}

@-webkit-keyframes in_back {
    from { background: white; }
    to   { background: #E6E6E6; }
}

@-ms-keyframes in_back {
    from { background: white; }
    to   { background: #E6E6E6; }
}
