html, body {
    background:                         #E6E6E6;
}

#app {
    height:                             100vh;
    display:                            grid;
    grid-template-columns:              1fr auto 1fr;
    grid-template-rows:                 1fr;
    grid-template-areas:                "left form ."
}

#left {
    position:                           fixed;
    height:                             80px;
}

#form {
    margin-top:                         40px;
    margin-bottom:                      96px;
    padding:                            96px 130px;
    background:                         white;
}

#buttom-submit {
    margin-top:                         88px;
}
