html, body {
    background:                         #E6E6E6;
    animation-name:                     in_back;
    animation-duration:                 .2s;
}



#app {
    height:                             100vh;
    display:                            grid;
    grid-template-columns:              1fr auto 1fr;
    grid-template-rows:                 1fr;
    grid-template-areas:                "left form ."
}



#left {
    grid-area:                          left;
    z-index:                            10;
}

#left .wrap {
    position:                           fixed;
    display:                            flex;
    align-items:                        center;
    height:                             80px;
}

#left #button-menu:hover,
#left #button-back:hover {
    background:                         #D9D9D9;
}



#form {
    grid-area:                          form;
    margin-top:                         40px;
    margin-bottom:                      96px;
    padding:                            96px 130px;
    background:                         white;
    animation-name:                     in_form;
    animation-duration:                 .5s;
    animation-delay:                    .2s;
    animation-fill-mode:                forwards;
    opacity:                            0;
}

#buttons {
    display:                            flex;
    margin-top:                         88px;
}

#button-submit {
    margin:                             0 8px 0 auto;
}





.seperator {
    height:                             88px;
}





.agreements {
    margin-top:                         32px;
}

.agreements .wrap {
    width:                              100%;
    overflow-x:                         hidden;
}

#agreements {
    width:                              512px;
}

.agreement {
    width:                              max-content;
    opacity:                            .3;
    line-height:                        24px;
}

.agreement .selector {
    width:                              32px;
    height:                             32px;
    margin-left:                        auto;
    padding:                            6px;
    border-radius:                      16px;
    background:                         #E6E6E6;
    opacity:                            0;
}

.agreement.active,
.agreement.selected {
    opacity:                            1;
}

.agreement.active:hover,
.agreement.selected:hover {
    background:                         #F0F0F0;
}

.agreement.active .selector,
.agreement.selected .selector {
    opacity:                            1;
}

.agreement.selected .selector {
    background:                         #4CD976;
}

.agreement .top,
.agreement .bottom {
    display:                            flex;
    align-items:                        center;
}

.agreement .bottom {
    margin:                             16px 48px 0 0;
}

.agreement .bottom img,
.agreement .bottom .no-avatar {
    width:                              56px;
    height:                             56px;
    margin:                             0 26px 0 0;
    border-radius:                      28px;
}





@keyframes in_form {
    from { opacity: 0; transform: translateY(40px) }
    to   { opacity: 1; }
}

@-moz-keyframes in_form {
    from { opacity: 0; transform: translateY(40px) }
    to   { opacity: 1; }
}

@-webkit-keyframes in_form {
    from { opacity: 0; transform: translateY(40px) }
    to   { opacity: 1; }
}

@-ms-keyframes in_form {
    from { opacity: 0; transform: translateY(40px) }
    to   { opacity: 1; }
}





@keyframes in_back {
    from { background: white; }
    to   { background: #E6E6E6; }
}

@-moz-keyframes in_back {
    from { background: white; }
    to   { background: #E6E6E6; }
}

@-webkit-keyframes in_back {
    from { background: white; }
    to   { background: #E6E6E6; }
}

@-ms-keyframes in_back {
    from { background: white; }
    to   { background: #E6E6E6; }
}
