html, body {
    background:                         #E6E6E6;
}



#app {
    height:                             100vh;
    display:                            grid;
    grid-template-columns:              1fr auto 1fr;
    grid-template-rows:                 1fr;
    grid-template-areas:                "left form ."
}



#left {
    grid-area:                          left;
}

#left .wrap {
    position:                           fixed;
    display:                            flex;
    align-items:                        center;
    height:                             80px;
}



#form {
    grid-area:                          form;
    margin-top:                         40px;
    margin-bottom:                      96px;
    padding:                            96px 130px;
    background:                         white;
}

#buttons {
    display:                            flex;
    margin-top:                         88px;
}

#button-submit {
    margin:                             0 8px 0 auto;
}
