html, body {
    background-color:                   black;
}

.wrap {
    height:                             100vh;
    display:                            grid;
    grid-template-rows:                 1fr auto 1fr;
    grid-template-columns:              1fr auto 1fr;
    grid-template-areas:                ". . ."
                                        ". dot ."
                                        ". . .";
}

.dot {
    grid-area:                          dot;
    width:                              60px;
    height:                             60px;
    border-radius:                      30px;
    background:                         #FFDD00;
}
