#content {
    display:                            grid;
    grid-template-rows:                 auto 1fr;
    height:                             100%;
    padding:                            120px 0 0;
    overflow:                           hidden;
}





.top {
    display:                            flex;
    align-items:                        flex-end;
    padding:                            0 64px 24px;
}





#list {
    grid-template-rows:                 auto auto 1fr;
    grid-template-areas:                "headers"
                                        "items"
                                        ".";
}





#actions {
    display:                            flex;
}

#actions .button {
    margin-right:                       8px;
}

#actions.select_filter .button:not(#button-filter-add) {
    pointer-events:                     none;
    opacity:                            .2;
}

#actions #filters {
    display:                            flex;
}





#counters {
    display:                            flex;
    margin-left:                        auto;
}

#counters.select_filter {
    opacity:                            .2;
}

#counters .counter {
    margin-left:                        56px;
}

#counters .counter .value {
    font-family:                        'Circular', serif;
    font-weight:                        300;
    font-size:                          32px;
}






#headers {
    padding:                            0 64px;
}

#headers .header {
    font-size:                          13px;
}

#headers .header:hover,
#headers .header.asc,
#headers .header.desc {
    color:                              #000000;
    cursor:                             pointer;
}

#headers .header.no_sort:hover {
    color:                              #808080;
    cursor:                             default;
}

#headers .header .sort {
    margin-left:                        10px;
    height:                             14px;
    width:                              10px;
    background-image:                   url('/images_app/sort.svg');
    opacity:                            0;
}

#headers .header:hover .sort {
    opacity:                            1;
}

#headers .header.no_sort:hover .sort {
    opacity:                            0;
}

#headers .header.asc .sort {
    background-image:                   url('/images_app/sort-up.svg');
    opacity:                            1;
}

#headers .header.desc .sort {
    background-image:                   url('/images_app/sort-down.svg');
    opacity:                            1;
}

#headers .header.select_filter {
    color:                              black;
    opacity:                            1;
}

#headers .header.select_filter .sort {
    opacity:                            0;
}

#headers .header.select_filter:hover,
#headers .header.no_sort.select_filter:hover {
    color:                              black;
    background:                         #F0F0F0;
    cursor:                             pointer;
}

#headers .header.no_filter.select_filter,
#headers .header.no_filter.select_filter:hover {
    opacity:                            0;
    cursor:                             unset;
}





#headers .filter {
    position:                           absolute;
    display:                            none;
    margin-right:                       -48px;
    background:                         #F8F8F8;
}

#headers .filter .box-input {
    height:                             0;
    border:                             0;
}

#headers .filter .box-input.date {
    height:                             48px;
}

#headers .filter .note {
    width:                              64px;
    padding-left:                       16px;
    color:                              #666666;
}

#headers .filter-wrap-date {
    display:                            flex;
    align-items:                        center;
}

#headers .autocomplete-item {
    color:                              #666666;
    padding-left:                       24px;
}





#items {
    padding:                            0 48px 0 64px;
}

#items.select_filter {
    opacity:                            .2;
    pointer-events:                     none;
}

.no-items {
    height:                             256px;
    padding-top:                        118px;
}

.load-more {
    margin:                             12px auto;
}





#button-filter-add {
    color:                              white;
    background:                         #4D4D4D;
}

#button-filter-add:hover {
    background:                         #666666;
}





@media (max-width: 840px) {

    #content {
        padding: 96px 0 0;
    }

    .top {
        display: grid;
        grid-auto-flow: row;
        grid-template-areas: "counters" "search" "actions";
        padding: 0 24px 0;
    }

    #actions {
        grid-area: actions;
        width: 100%;
        height: unset;
        margin: 0 auto 0;
        flex-wrap: wrap;
        row-gap: 12px;
        justify-content: start;
    }

    #search-wrap {
        grid-area: search;
        margin: 0 0 32px;
    }

    #counters {
        grid-area: counters;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 0 0 8px;
    }

    #counters .counter {
        display: flex;
        margin-left: 0;
        margin-bottom: 10px;
    }

    #counters .counter .value {
        font-size: 14px;
        margin-left: 8px;
    }

    #filters-mobile {
        display: none;
        position: absolute;
        place-items: center;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        padding: 32px;
        background: #00000088;
        z-index: 100;
    }

    #filters-mobile .filter {
        display: none;
        width: 100%;
        overflow-x: hidden;
    }

    #filters-mobile .filter .box-input {
        height: 0;
        border: 0;
    }

    #filters-mobile .filter-label {
        font-size: 16px;
        margin: 0 0 32px;
        font-weight: 500;
    }

    #filters-mobile .filter-wrap-date:has(+ .filter-wrap-date) {
        margin-bottom: 16px;
    }

    #filters-mobile .autocomplete-list {
        position: unset;
        width: 100%;
        max-height: 400px;
    }

    #filters-mobile .autocomplete-item {
        color: black;
        background: white;
        height: 64px;
    }

    #filters-pick {
        background: white;
        padding: 32px 0 0;
        width: 100%;
    }

    #filters-pick .filter-label {
        padding-left: 24px;
        font-size: 18px;
    }

    #filters-pick .filter-option {
        padding: 24px;
        font-size: 16px;
        border-top: 1px solid #ccc;
        border-right: 1px solid #CCC;
    }



    #items {
        margin: 8px 0 0;
        padding: 40px 24px 0;
    }

    #items .item {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: unset;
        padding: 24px 24px 0;
        background: #F3F3F3;
        margin-bottom: 16px;
    }

    #items .item .attribute {
        padding: 0 0 24px;
    }

    #items .item .attribute .label {
        opacity: .5;
        padding-bottom: 8px;
    }

    #items .item .attribute.big .value,
    #items .item .attribute.big .value div {
        font-size: 16px;
        font-weight: 600 !important;
    }

}
