#content {
    display:                            grid;
    grid-template-rows:                 auto 1fr;
    height:                             100%;
    padding:                            120px 0 0;
    overflow:                           hidden;
}





.top {
    display:                            flex;
    align-items:                        flex-end;
    padding:                            0 64px 24px;
}





#list {
    grid-template-rows:                 auto auto 1fr;
    grid-template-areas:                "headers"
                                        "items"
                                        ".";
}





#actions {
    display:                            flex;
}

#actions .button {
    margin-right:                       8px;
}

#actions.select_filter .button:not(#button-filter-add) {
    pointer-events:                     none;
    opacity:                            .2;
}

#actions #button-sort,
#actions #button-counters {
    display: none;
}

#actions #filters {
    display:                            flex;
}







#counters {
    display:                            flex;
    margin-left:                        auto;
}

#counters.select_filter {
    opacity:                            .2;
}

#counters .counter {
    margin-left:                        56px;
}

#counters .counter .value {
    font-family:                        'Circular', serif;
    font-weight:                        300;
    font-size:                          32px;
}






#headers {
    padding:                            0 64px;
}

#headers .header {
    font-size:                          13px;
}

#headers .header:hover,
#headers .header.asc,
#headers .header.desc {
    color:                              #000000;
    cursor:                             pointer;
}

#headers .header.no_sort:hover {
    color:                              #808080;
    cursor:                             default;
}

#headers .header .sort {
    margin-left:                        10px;
    height:                             14px;
    width:                              10px;
    background-image:                   url('/images_app/sort.svg');
    opacity:                            0;
}

#headers .header:hover .sort {
    opacity:                            1;
}

#headers .header.no_sort:hover .sort {
    opacity:                            0;
}

#headers .header.asc .sort {
    background-image:                   url('/images_app/sort-up.svg');
    opacity:                            1;
}

#headers .header.desc .sort {
    background-image:                   url('/images_app/sort-down.svg');
    opacity:                            1;
}

#headers .header.select_filter {
    color:                              black;
    opacity:                            1;
}

#headers .header.select_filter .sort {
    opacity:                            0;
}

#headers .header.select_filter:hover,
#headers .header.no_sort.select_filter:hover {
    color:                              black;
    background:                         #F0F0F0;
    cursor:                             pointer;
}

#headers .header.no_filter.select_filter,
#headers .header.no_filter.select_filter:hover {
    opacity:                            0;
    cursor:                             unset;
}





#headers .filter {
    position:                           absolute;
    display:                            none;
    margin-right:                       -48px;
    background:                         #F8F8F8;
}

#headers .filter .box-input {
    height:                             0;
    border:                             0;
}

#headers .filter .box-input.date {
    height:                             48px;
}

#headers .filter .note {
    width:                              64px;
    padding-left:                       16px;
    color:                              #666666;
}

#headers .filter-wrap-date {
    display:                            flex;
    align-items:                        center;
}

#headers .filter-submit-date {
    display: none;
}

#headers .autocomplete-item {
    color:                              #666666;
    padding-left:                       24px;
}





#items {
    padding:                            0 48px 0 64px;
}

#items.select_filter {
    opacity:                            .2;
    pointer-events:                     none;
}

.no-items {
    height:                             256px;
    padding-top:                        118px;
}

.load-more {
    margin:                             12px auto;
}





#button-filter-add {
    color:                              white;
    background:                         #4D4D4D;
}

#button-filter-add:hover {
    background:                         #666666;
}





@media (max-width: 840px) {

    #content {
        padding: 96px 0 0;
    }

    .top {
        display: grid;
        grid-auto-flow: row;
        grid-template-areas: "actions" "search";
        padding: 0 24px;
    }



    #actions {
        grid-area: actions;
        width: 100%;
        height: unset;
        margin: 0 auto 0;
        flex-wrap: wrap;
        row-gap: 12px;
        justify-content: start;
    }

    #actions #button-sort,
    #actions #button-counters {
        display: flex;
        background: #4D4D4D;
        color: white;
    }

    #actions #button-sort .icon {
        height: 10px;
        margin: 0 8px 0 2px;
    }

    #actions #button-counters {
        background: #E6E6E6;
        color: black;
    }

    #actions #filters {
        flex-wrap: wrap;
        row-gap: 12px;
    }

    #actions #filters .button.filter {
        white-space: nowrap;
    }

    #search-wrap {
        grid-area: search;
        margin: 24px 0 0;
    }

    #loader-list {
        margin: 4px 0 0 4px;
    }



    #counters {
        display: none;
    }

    #counters-mobile {
        display: grid;
        padding: 40px 32px 24px;
    }

    #counters .counter {
        display: grid;
        grid-auto-flow: column;
        margin: 0 0 24px 0;
        grid-template-columns: 2fr 1fr;
        font-size: 16px;
        width: 100%;
    }

    #counters .counter .value {
        margin-left: 8px;
        font-size: 16px;
        text-align: end;
        margin-right: 8px;
    }

    #counters-mobile-top {
        margin-bottom: 48px;
        display: flex;
    }

    #counters-mobile-top .title {
        font-size: 18px;
    }

    #counters-mobile-top img {
        width: 24px;
        height: 24px;
        padding: 0;
        margin-left: auto;
    }



    #filters-mobile,
    #sort-mobile,
    #counters {
        display: none;
        position: absolute;
        place-items: center;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        padding: 32px;
        background: #00000088;
        z-index: 100;
    }

    #filters-mobile .filter {
        display: none;
        width: 100%;
        overflow-x: hidden;
    }

    #filters-mobile .filter :not(.filter-wrap-date) .box-input {
        height: 0;
        border: 0;
    }

    #filters-mobile .label,
    #sort-mobile .label {
        font-size: 16px;
        margin: 0 0 32px;
        font-weight: 500;
    }

    #filters-mobile .autocomplete-list {
        position: unset;
        width: 100%;
        max-height: 400px;
    }

    #filters-mobile .autocomplete-item {
        color: black;
        background: white;
        height: 64px;
        overflow: hidden;
        font-size: 16px;
        border-bottom: 1px solid #EEEEEE;
    }

    #filters-mobile .filter-wrap-date,
    #filters-mobile .filter-submit-date {
        color: black;
        background: white;
        height: 64px;
        overflow: hidden;
        font-size: 16px;
        border-bottom: 1px solid #EEEEEE;
        display: flex;
        align-items: center;
        padding: 0 16px;
    }

    #filters-mobile .filter-submit-date {
        display: block;
    }

    #filters-mobile .filter-submit-date .button {
        margin-left: auto;
    }

    #counters-mobile .filter-wrap-date .note {
        width: 48px;
    }

    #filters-mobile-pick,
    #sort-mobile-pick,
    #sort-mobile-direction,
    #counters-mobile {
        background: white;
        width: 100%;
    }

    #filters-mobile-pick .label,
    #sort-mobile-pick .label,
    #sort-mobile-direction .label {
        padding: 24px 16px;
        font-size: 18px;
        margin: 0;
    }

    #filters-mobile-pick .option,
    #sort-mobile-pick .option,
    #sort-mobile-direction .option  {
        padding: 22px 16px;
        font-size: 16px;
        border-top: 1px solid #EEEEEE;
    }



    #sort-mobile-pick,
    #sort-mobile-direction {
        display: none;
    }



    #items {
        margin: 0;
        padding: 24px 24px 0;
    }

    #items .item {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: unset;
        padding: 24px 24px 0;
        background: #F3F3F3;
        margin-bottom: 16px;
        border: 1px solid #CCC;
    }

    #items .item .attribute {
        padding: 0 0 24px;
    }

    #items .item .attribute .label {
        opacity: .5;
        padding-bottom: 8px;
    }

    #items .item .attribute.big .value,
    #items .item .attribute.big .value div {
        font-size: 16px;
        font-weight: 600 !important;
    }

}
