#content {
    display:                            grid;
    height:                             100%;
    padding:                            120px 0 0;
    overflow:                           hidden;
}





.top {
    display:                            flex;
    align-items:                        flex-end;
    padding:                            0 64px 24px;
}

.list {
    display:                            grid;
    overflow:                           hidden;
}





.actions {
    display:                            flex;
    margin-right:                       auto;
}

.actions .button {
    margin-right:                       8px;
}





.counters {
    display:                            flex;
}

.counters .counter {
    margin-left:                        56px;
}

.counters .counter .value {
    font-family:                        'Circular', serif;
    font-weight:                        300;
    font-size:                          32px;
}





#headers {
    display:                            grid;
    grid-template-rows:                 48px;
    padding:                            0 64px;
}

#headers .header {
    display:                            flex;
    align-items:                        center;
    padding-left:                       24px;
    color:                              #808080;
    cursor:                             pointer;
}

#headers .header:hover {
    background:                         #F0F0F0;
}

#headers .header.sort-asc,
#headers .header.sort-desc {
    color:                              #000000;
}





#items {
    overflow:                           scroll;
    padding:                            0 64px;
}

#items .item {
    display:                            grid;
    height:                             64px;
    align-items:                        center;
    cursor:                             pointer;
}

#items .item:hover {
    background:                         #F0F0F0 !important;
}

#items .item.odd {
    background:                         #F8F8F8;
}

#items .item .attribute {
    padding-left:                       24px;
}

#items .item .action {
    width:                              48px;
    padding:                            0 16px 0 8px;
    opacity:                            0;
}





#button-filter-add {
    color:                              white;
    background:                         #4D4D4D;
}









/*   List-Study   */

#button-plan {
    color:                              black;
    background:                         #E6E6E6;
}
