#content {
    display:                            grid;
    height:                             100%;
    padding:                            120px 0 0;
    overflow:                           hidden;
}





.top {
    display:                            flex;
    align-items:                        flex-end;
    padding:                            0 64px 24px;
}

#list {
    display:                            grid;
    overflow:                           hidden;
}





.actions {
    display:                            flex;
    margin-right:                       auto;
}

.actions .button {
    margin-right:                       8px;
}





.counters {
    display:                            flex;
}

.counters .counter {
    margin-left:                        56px;
}

.counters .counter .value {
    font-family:                        'Circular', serif;
    font-weight:                        300;
    font-size:                          32px;
}





#headers {
    display:                            grid;
    grid-template-rows:                 48px;
    padding:                            0 64px;
}

#headers .header {
    display:                            flex;
    align-items:                        center;
    padding-left:                       24px;
    color:                              #808080;
    cursor:                             pointer;
}

#headers .header:hover,
#headers .header.asc,
#headers .header.desc {
    color:                              #000000;
}

#headers .header.none:hover {
    color:                              #808080;
    cursor:                             default;
}

#headers .header .sort {
    margin-left:                        10px;
    height:                             14px;
    width:                              10px;
    background-image:                   url('/images/sort.svg');
    opacity:                            0;
}

#headers .header:hover .sort {
    opacity:                            1;
}

#headers .header.none:hover .sort {
    opacity:                            0;
}

#headers .header.asc .sort {
    background-image:                   url('/images/sort-up.svg');
    opacity:                            1;
}

#headers .header.desc .sort {
    background-image:                   url('/images/sort-down.svg');
    opacity:                            1;
}





#items {
    overflow:                           scroll;
    padding:                            0 64px;
}

#items .item {
    display:                            grid;
    height:                             64px;
    align-items:                        center;
    cursor:                             pointer;
}

#items .item:hover {
    background:                         #F0F0F0 !important;
}

#items .item.odd {
    background:                         #F8F8F8;
}

#items .item .attribute {
    padding-left:                       24px;
}

#items .item .action {
    width:                              48px;
    padding:                            0 20px 0 4px;
    opacity:                            0;
}

#items .item:hover .action {
    opacity:                            1;
    transform:                          translate(4px, 0);
    transition:                         all .2s ease-out;
}





#button-filter-add {
    color:                              white;
    background:                         #4D4D4D;
}









/*   List-Study   */

#button-plan {
    color:                              black;
    background:                         #E6E6E6;
}
