#content {
    display:                            grid;
    grid-template-rows:                 auto 1fr;
    height:                             100%;
    padding:                            120px 0 0;
    overflow:                           hidden;
}





.top {
    display:                            flex;
    align-items:                        flex-end;
    padding:                            0 64px 24px;
}





#list {
    grid-template-rows:                 auto auto 1fr;
    grid-template-areas:                "headers"
                                        "items"
                                        ".";
}





#actions {
    display:                            flex;
    margin-right:                       auto;
}

#actions .button {
    margin-right:                       8px;
}

#actions.select_filter .button:not(#button-filter-add) {
    pointer-events:                     none;
    opacity:                            .2;
}

#actions #filters {
    display:                            flex;
}





#counters {
    display:                            flex;
}

#counters.select_filter {
    opacity:                            .2;
}

#counters .counter {
    margin-left:                        56px;
}

#counters .counter .value {
    font-family:                        'Circular', serif;
    font-weight:                        300;
    font-size:                          32px;
}






#headers {
    padding:                            0 64px;
}

#headers .header:hover,
#headers .header.asc,
#headers .header.desc {
    color:                              #000000;
    cursor:                             pointer;
}

#headers .header.no_sort:hover {
    color:                              #808080;
    cursor:                             default;
}

#headers .header .sort {
    margin-left:                        10px;
    height:                             14px;
    width:                              10px;
    background-image:                   url('/images/sort.svg');
    opacity:                            0;
}

#headers .header:hover .sort {
    opacity:                            1;
}

#headers .header.no_sort:hover .sort {
    opacity:                            0;
}

#headers .header.asc .sort {
    background-image:                   url('/images/sort-up.svg');
    opacity:                            1;
}

#headers .header.desc .sort {
    background-image:                   url('/images/sort-down.svg');
    opacity:                            1;
}

#headers .header.select_filter {
    color:                              black;
    opacity:                            1;
}

#headers .header.select_filter .sort {
    opacity:                            0;
}

#headers .header.select_filter:hover,
#headers .header.no_sort.select_filter:hover {
    color:                              black;
    background:                         #F0F0F0;
    cursor:                             pointer;
}

#headers .header.no_filter.select_filter,
#headers .header.no_filter.select_filter:hover {
    opacity:                            0;
    cursor:                             unset;
}





#headers .filter {
    display:                            none;
    margin-right:                       -48px;
    background:                         #F8F8F8;
}

#headers .filter .box-input {
    height:                             0;
    border:                             0;
}

#headers .autocomplete-item {
    color:                              #666666;
    padding-left:                       24px;
}





#items {
    padding:                            0 64px;
}

#items.select_filter {
    opacity:                            .2;
    pointer-events:                     none;
}





#button-filter-add {
    color:                              white;
    background:                         #4D4D4D;
}

#button-filter-add:hover {
    background:                         #666666;
}
