html, body {
    background:                         #E6E6E6;
}

#app {
    height:                             100vh;
    display:                            grid;
    grid-template-columns:              1fr auto 1fr;
    grid-template-rows:                 1fr auto 1fr;
    grid-template-areas:                ". . ."
                                        ". wrap ."
                                        ". . .";
}

.wrap {
    grid-area:                          wrap;
    width:                              380px;
    padding:                            80px 50px;
    background:                         white;
}

#logo {
    height:                             64px;
    margin-bottom:                      80px;
}

#box-input-password {
    margin-top:                         32px;
}

#button-login {
    margin:                             72px 0 0 auto;
}

#button-forgot-password {
    width:                              fit-content;
    margin:                             24px 0 0 auto;
}



@media (max-width: 840px) {

    #app {
        height: 100svh;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "wrap";
        background: white;
        padding: 0 40px 80px;
    }

    .wrap {
        grid-area: wrap;
        display: grid;
        grid-template-rows: 1fr auto auto;
        width: unset;
        padding: 0;
    }

    #logo {
        height: 64px;
        margin: 0 auto;
        place-self: center;
    }

    #box-input-password {
        margin-top: 24px;
    }

    #button-login {
        margin: 72px 0 0 auto;
        height: 40px;
        border-radius: 20px;
        padding: 0 16px 1px;
        letter-spacing: .2px;
    }

    #button-forgot-password {
        font-size: 14px;
    }
}
