html, body {
    background:                         #E6E6E6;
}

.wrap {
    width:                              380px;
    padding:                            80px 48px;
    background:                         white;
}

#logo {
    height:                             60px;
}

#box-input-password {
    margin-top:                         32px;
}

#button-login {
    margin:                             72px 0 0 auto;
}

#button-forgot-password {
    margin:                             24px 0 0 auto;
}
