* {
    box-sizing:                         border-box;
    margin: 						    0;
    padding: 						    0;
    background-color:                   white;
    color:                              black;
    font-size:                          14px;
    font-family:                        'Source Sans Pro', sans-serif;
    font-weight:                        300;
}

.wrap {
    display:                            grid;
    grid-template-columns:              1fr 320px 1fr;
    grid-template-rows:                 120px auto 120px;
    background:                         #E6E6E6;
}

.content {
    padding:                            60px 40px;
    background:                         #FFFFFF;
}

.button {
    display:                            flex;
    align-items:                        center;
    width:                              fit-content;
    height:                             28px;
    padding:                            0 14px 2px;
    border-radius:                      14px;
    font-weight:                        600;
    background:                         #FFDD34;
    color:                              black;
    border:                             none;
    cursor:                             pointer;
}

.seperator-64 {
    height:                             64px;
}

.bold {
    font-weight:                        400;
}
