





/*   DISABLE MOBILE USE   */

@media only screen and (max-width: 600px) {

    body, html {
        background:                     #242424;
    }

    #app,
    #tooltip {
        display:                        none;
    }

    #mobile {
        position:                       fixed;
        display:                        grid;
        height:                         80vh;
        width:                          100%;
        grid-template-columns:          auto;
        grid-template-rows:             1fr auto 1.5fr;
        grid-template-areas:            "."
        "content"
        ".";
        color:                          white;
    }

    #mobile-wrap {
        display:                        grid;
        grid-area:                      content;
    }

    #mobile img {
        width:                          180px;
        margin:                         0 auto 100px;
    }

    #mobile p {
        font-size:                      18px;
        font-weight:                    100;
        font-family:                    'Circular', serif;
        line-height:                    1.6;
        margin:                         0 auto;
    }
}
