#column {
    width:                              712px;
    margin:                             120px auto 128px;
}

#top {
    display:                            grid;
    grid-template-columns:              1fr auto 1fr;
    margin-bottom:                      32px;
}

#avatar img,
#avatar .no-avatar {
    display:                            block;
    width:                              160px;
    height:                             160px;
    border-radius:                      80px;
}

#avatar .no-avatar {
    font-size:                          56px;
}

#comment {
    display:                            flex;
    margin:                             auto 0 0 32px;
}



.name {
    margin:                             0 auto 4px;
    font-size:                          40px;
    font-family:                        'Circular', serif;
    font-weight:                        300;
}

.role {
    margin:                             0 auto;
    font-size:                          16px;
}



#actions {
    margin:                             32px 0 32px auto;
    background:                         pink;
}
