#column {
    width:                              712px;
    margin:                             100px auto 128px;
}



#top {
    display:                            grid;
}



#avatar {
    display:                            grid;
    grid-template-columns:              1fr auto 1fr;
    margin-bottom:                      32px;
}

#avatar img,
#avatar .no-avatar {
    width:                              160px;
    height:                             160px;
    border-radius:                      80px;
}

#avatar img {
    display:                            block;
}

#avatar .no-avatar {
    font-size:                          56px;
}

#comment {
    display:                            flex;
    margin:                             auto 0 0 32px;
}





#top .name {
    margin:                             0 auto 4px;
    font-size:                          40px;
    font-family:                        'Circular', serif;
    font-weight:                        300;
}

#top .role {
    margin:                             0 auto;
    font-size:                          16px;
}



#actions {
    display:                            flex;
    align-items:                        center;
    height:                             92px;
    width:                              max-content;
    margin-left:                        auto;
}

#actions .button {
    margin-left:                        10px;
}





.content-columns {
    grid-template-rows:                 auto;
    grid-template-areas:                "left . right"
                                        "wide wide wide";
}





.agreements {
    padding-top:                        24px;
    margin-bottom:                      48px;
}

.agreements .title {
    padding:                            16px 0 16px 4px;
}

.agreements .wrap {
    width:                              712px;
    overflow-x:                         hidden;
}

.agreements #button-previous,
.agreements #button-next {
    width:                              32px;
    height:                             32px;
    border-radius:                      16px;
    padding:                            8px;
    background:                         transparent;
    display:                            none;
    pointer-events:                     all;
}

.agreements #button-previous:hover,
.agreements #button-next:hover {
    background:                         #E6E6E6;
}

.agreements #button-previous {
    margin-left:                        -60px;
    margin-right:                       28px;
}

.agreements #button-next {
    margin-right:                       -60px;
}

.agreement .view {
    margin-left:                        auto;
    font-size:                          12px;
    font-family:                        'Circular', serif;
    font-weight:                        200;
    display:                            none;
}

.agreement.active:hover .view {
    display:                            unset;
}





.evaluations {
    padding-top:                        24px;
    margin-bottom:                      48px;
}

.evaluations .title {
    padding:                            16px 0 16px 4px;
}

.evaluations #list {
    grid-template-rows:                 auto auto;
    grid-template-areas:                "headers"
                                        "items";
}

.evaluations .no-items {
    height:                             172px;
    padding-top:                        80px;
}





.agreements .button-add,
.evaluations .button-add {
    margin-left:                        -60px;
}

.agreements .title-add,
.evaluations .title-add {
    display:                            flex;
    align-items:                        center;
}

.agreements .title-add .title,
.evaluations .title-add .title {
    padding:                            16px 0 16px 32px;
}





.block-note {
    width:                              712px;
    height:                             172px;
    padding-top:                        80px;
    text-align:                         center;
    color:                              #666666;
    background:                         #F8F8F8;
}
