#column {
    width:                              712px;
    margin:                             100px auto 128px;
}



#top {
    display:                            grid;
}



#avatar {
    display:                            grid;
    grid-template-columns:              1fr auto 1fr;
    margin-bottom:                      32px;
}

#avatar img,
#avatar .no-avatar {
    width:                              160px;
    height:                             160px;
    border-radius:                      80px;
}

#avatar img {
    display:                            block;
}

#avatar .no-avatar {
    font-size:                          56px;
}

#comment {
    display:                            flex;
    margin:                             auto 0 0 32px;
}





#top .name {
    margin:                             0 auto 4px;
    font-size:                          40px;
    font-family:                        'Circular', serif;
    font-weight:                        300;
    text-align:                         center;
}

#top .role {
    margin:                             0 auto;
    font-size:                          16px;
}



#actions {
    display:                            flex;
    align-items:                        center;
    height:                             92px;
    width:                              max-content;
    margin-left:                        auto;
}

#actions .button {
    margin-left:                        10px;
}





.agreements {
    padding-top:                        24px;
    margin-bottom:                      48px;
}

.agreements .title {
    padding:                            16px 0 16px 4px;
}

.agreements .wrap-outer {
    display: flex;
    align-items: center;
}

.agreements .wrap {
    width:                              712px;
    overflow-x:                         hidden;
}

.agreements .button-agreements-desktop {
    display:                            block
}

.agreements .button-agreements-mobile {
    display:                            none;
    align-items: center;
    justify-content: end;
    height: 32px;
    margin: -48px 0 16px;
}

.agreements .button {
    width:                              32px;
    height:                             32px;
    border-radius:                      16px;
    padding:                            8px;
    display:                            none;
    pointer-events:                     all;
}

.agreements .button-agreements-desktop.button {
    background:                         transparent;
}

.agreements .button-agreements-desktop.button:hover {
    background:                         #E6E6E6;
}

.agreements .button-agreements-desktop.button-previous {
    margin-left:                        -60px;
    margin-right:                       28px;
}

.agreements .button-agreements-desktop.button-next {
    margin-right:                       -60px;
}

.agreements .button-agreements-mobile .button-next {
    margin-left: 16px;
}





.evaluations {
    padding-top:                        24px;
    margin-bottom:                      48px;
}

.evaluations .title {
    padding:                            16px 0 16px 4px;
}

.evaluations #list {
    grid-template-rows:                 auto auto;
    grid-template-areas:                "headers"
                                        "items";
}

.evaluations .no-items {
    height:                             172px;
    padding-top:                        80px;
}

.evaluations #headers,
.evaluations .item {
    grid-template-columns: 1fr 1fr 1fr 1fr 48px;
}





.agreements .button-add,
.evaluations .button-add {
    margin-left:                        -60px;
}

.agreements .title-add,
.evaluations .title-add {
    display:                            flex;
    align-items:                        center;
}

.agreements .title-add .title,
.evaluations .title-add .title {
    padding:                            16px 0 16px 32px;
}



.wide-spacing-bottom {
    height: 64px;
}





.block-note {
    width:                              712px;
    height:                             172px;
    padding-top:                        80px;
    text-align:                         center;
    color:                              #666666;
    background:                         #F8F8F8;
}

.list-users .block-note {
    width:                              100%;
}



@media (max-width: 840px) {

    #column {
        width:                          100%;
        margin: 0;
        padding: 100px 24px 48px;
        overflow-x: hidden;
    }

    #avatar {
        grid-template-rows: 0 auto auto;
        grid-template-columns: 1fr;
        grid-auto-flow: row;
        place-items: center;
        width: 80%;
        max-width: 300px;
        margin: 0 auto 32px;
    }

    #avatar img,
    #avatar .no-avatar {
        width: 144px;
        height: 144px;
    }

    #avatar .name {
        font-size: 36px;
        margin-bottom: 2px;
    }

    #comment {
        margin: unset;
        display: unset;
    }

    .comment {
        line-height: 20px;
        padding: 16px 24px;
    }

    .comment-tail {
        transform: rotate(90deg);
    }

    #actions {
        width: 100%;
        height: unset;
        margin: 32px auto 64px;
        flex-wrap: wrap;
        row-gap: 12px;
        column-gap: 8px;
        justify-content: center;
    }

    #actions .button {
        margin: 0;
    }

    .block-note {
        width: 100%;
    }

    .agreements {
        margin: 16px 0 48px;
        padding-top: 0;
    }

    .agreements .wrap-outer {
        display: block;
    }

    .agreements .wrap {
        width: 100%;
    }

    .agreements .button-agreements-desktop {
        display: none;
    }

    .agreements .button-agreements-mobile {
        display: flex;
    }

    .evaluations {
        margin: 16px 0 48px;
        padding-top: 0;
    }

    .evaluations #headers {
        grid-template-columns: 3fr 4fr 4fr;
    }

    .evaluations #headers .header {
        padding-left: 12px;
    }

    .evaluations #headers .header.location,
    .evaluations #items .attribute.location {
        display: none;
    }

    .evaluations #items .item {
        grid-template-columns: 3fr 4fr 4fr;
    }

    .evaluations #items .item .attribute {
        padding-left: 12px;
        font-size: 13px;
    }

    .evaluations #items .item .end {
        display: none;
    }

    .agreements .title,
    .evaluations .title {
        padding:                            0 0 20px 4px;
    }

    .agreements .title-add,
    .evaluations .title-add {
        padding-bottom: 16px;
    }

    .agreements .title-add .title,
    .evaluations .title-add .title {
        padding:                            0 0 0 16px;
    }

    .agreements .button-add,
    .evaluations .button-add {
        margin: 0;
    }

    .wide-spacing-bottom {
        height: 16px;
    }
}
