#column {
    width:                              712px;
    margin:                             100px auto 128px;
}



#top {
    display:                            grid;
}



#avatar {
    display:                            grid;
    grid-template-columns:              1fr auto 1fr;
    margin-bottom:                      32px;
}

#avatar img,
#avatar .no-avatar {
    width:                              160px;
    height:                             160px;
    border-radius:                      80px;
}

#avatar img {
    display:                            block;
}

#avatar .no-avatar {
    font-size:                          56px;
}

#comment {
    display:                            flex;
    margin:                             auto 0 0 32px;
}



#top .name {
    margin:                             0 auto 4px;
    font-size:                          40px;
    font-family:                        'Circular', serif;
    font-weight:                        300;
}

#top .role {
    margin:                             0 auto;
    font-size:                          16px;
}



#actions {
    display:                            flex;
    align-items:                        center;
    height:                             92px;
    width:                              max-content;
    margin-left:                        auto;
}

#actions .button {
    margin-left:                        10px;
}



.content-columns {
    grid-template-rows:                 auto;
    grid-template-areas:                "left . right"
                                        "wide wide wide";
}



.agreements {;
    margin:                             40px 0 48px;
}



.evaluations {
    margin:                             24px 0 48px;
}

.evaluations .title {
    padding:                            16px 0 16px 4px;
}

.evaluations #list {
    grid-template-rows:                 auto auto;
    grid-template-areas:                "headers"
                                        "items";
}

.evaluations .no-items {
    height:                             172px;
    padding-top:                        80px;
}

.evaluations .button-add {
    margin-left:                        -60px;
}

.evaluations .title-add {
    display:                            flex;
    align-items:                        center;
}

.evaluations .title-add .title {
    padding:                            16px 0 16px 32px;
}
