#content {
    width:                              712px;
    height:                             1000px;
    margin:                             80px auto 128px;
    background:                         pink;
}
