#column {
    width:                              712px;
    margin:                             40px auto 128px;
}





#banner {
    display:                            flex;
    align-items:                        flex-end;
    height:                             200px;
    background-size:                    contain;
}

#banner .title {
    margin:                             0 0 0 24px;
    font-size:                          36px;
    font-weight:                        400;
    color:                              white;
}

#banner .subtitle {
    margin:                             0 0 16px 25px;
    color:                              white;
    font-size:                          14px;
    font-family:                        'Circular', serif;
    font-weight:                        100;
}





#actions {
    display:                            flex;
    align-items:                        center;
    height:                             60px;
    width:                              max-content;
    margin-left:                        auto;
}

#actions .button {
    margin-left:                        10px;
}





.block-report .top {
    display: flex;
    align-items: center;
    padding: 0 0 15px 4px;
}

.block-report .title {
    padding: 0;
}

.block-report #flag,
.block-report #flag-loading {
    width: 24px;
    height: 24px;
    margin-left: auto;
}

.block-report #flag {
    cursor: pointer;
}

.block-report #flag:hover {
    opacity: .5;
}

.block-report #flag-loading {
    display: none;
}

.report .person-report img,
.report .person-report .no-avatar {
    width:                              64px;
    height:                             64px;
    margin:                             0 8px 0 0;
    border-radius:                      32px;
}

.report .person-report {
    cursor:                             pointer;
}

.report .subjects {
    background:                         #F8F8F8;
    margin-top:                         24px;
    padding:                            16px 24px 16px 32px;
}

.report .subject {
    display:                            flex;
    align-items:                        center;
    height:                             50px;
    width:                              100%;
}

.report .subject .name {
    width:                              104px;
}

.report .subject .duration {
    margin-left:                        auto;
    font-weight:                        600;
    text-align:                         end;
}

.report .bar-wrap {
    width:                              104px;
    height:                             7px;
    background:                         #F0F0F0;
    border-radius:                      4px;
}

.report .bar-duration {
    position:                           absolute;
    height:                             7px;
    background:                         #FFDD34;
    border-radius:                      4px;
}

.report-tabs {
    display:                            flex;
    margin-top:                         8px;
    margin-bottom:                      16px;
}



.block-note.small {
    width:                              324px;
    margin-top:                         24px;
    padding:                            32px;
    text-align:                         left;
    color:                              #666666;
    background:                         #F8F8F8;
}

.block-note.error {
    color:                              #FF0000;
    background:                         #FF000026;
}





@media (max-width: 840px) {

    #column {
        width:                          100%;
        margin: 0;
        padding: 80px 16px 48px;
        overflow-x: hidden;
    }

    #banner {
        background-size: cover;
        background-position: center;
    }

    #actions {
        height: 72px;
    }

    #content {
        padding: 0 8px;
    }

    .block-users {
        margin-bottom: 48px;
    }

    div[data-status="4"] .content-columns {   /* Status reported */
        grid-template-areas: "right" "left";
    }

    div[data-status="1"] .block-users[data-type="host"] {   /* Status planned */
        margin-bottom: 24px;
    }

    .report .subject .duration {
        display: grid;
        grid-template-columns: 1fr auto;
        place-items: center end;
    }
}
