#column {
    width:                              712px;
    margin:                             40px auto 128px;
}





#banner {
    display:                            flex;
    align-items:                        flex-end;
    height:                             240px;
    background-size:                    contain;
}

#banner .title {
    margin:                             0 0 0 24px;
    font-size:                          40px;
    font-weight:                        400;
    color:                              white;
}

#banner .subtitle {
    font-size:                          16px;
    margin:                             0 0 16px 25px;
    color:                              white;
}





#actions {
    display:                            flex;
    align-items:                        center;
    height:                             60px;
    width:                              max-content;
    margin-left:                        auto;
}

#actions .button {
    margin-left:                        10px;
}





.content-columns {
    grid-template-rows:                 auto 64px auto;
    grid-template-areas:                "left . right"
                                        ". . ."
                                        "wide wide wide";
}





.report .person-report img,
.report .person-report .no-avatar {
    width:                              64px;
    height:                             64px;
    margin:                             0 8px 0 0;
    border-radius:                      32px;
}

.report .person-report {
    cursor:                             pointer;
}

.report .subjects {
    background:                         #F8F8F8;
    margin-top:                         24px;
    padding:                            16px 24px 16px 32px;
}

.report .subject {
    display:                            flex;
    align-items:                        center;
    height:                             50px;
    width:                              100%;
}

.report .subject .name {
    width:                              110px;
}

.report .subject .duration {
    margin-left:                        auto;
    font-weight:                        600;
    text-align:                         end;
}

.report .dots {
    display:                            grid;
    grid-auto-flow:                     column;
    width:                              110px;
    height:                             9px;
}

.report .dot {
    width:                              9px;
    height:                             9px;
    border-radius:                      4.5px;
}

.report-tabs {
    display:                            flex;
    margin-top:                         8px;
    margin-bottom:                      16px;
}



/* CHANGE TO DEFAULT UNFOLD OBJECT */

.report .content {
    background:                         #F8F8F8;
    margin-top:                         24px;
    padding:                            8px 0;
}

.report .content .item {
    width:                              100%;
    padding:                            0 16px 0 32px;
    color:                              #666666;
}

.report .content .item-title {
    display:                            flex;
    align-items:                        center;
    height:                             64px;
    user-select:                        none;
}

.report .content .item img {
    width:                              24px;
    height:                             24px;
    margin-left:                        auto;
    transition:                         transform .2s ease-out;
}

.report .content .item.visible img {
    transform:                          rotateX(-180deg);
    transition:                         transform .2s ease-out;
}

.report .content .item p {
    display:                            none;
    margin-right:                       32px;
    margin-bottom:                      28px;
    color:                              black;
}

.report .content .item.visible p {
    display:                            block;
}

.report .content .seperator {
    height:                             1px;
    margin:                             4px 24px;
    background:                         #E6E6E6;
}
