#wrap {
    width:                              712px;
    margin:                             60px auto 128px;
}





#banner {
    display:                            flex;
    align-items:                        flex-end;
    height:                             240px;
    background-size:                    contain;
}

#banner .title {
    margin:                             0 0 24px 24px;
    font-size:                          40px;
    font-weight:                        400;
    color:                              white;
}





#content {

}

.content-columns {
    display:                            grid;
    grid-template-columns:              1fr 64px 1fr;
    grid-template-rows:                 auto 64px auto;
    grid-template-areas:                "left . right"
                                        ". . ."
                                        "wide wide wide";
}

.content-columns .left {
    grid-area:                          left;
}

.content-columns .right {
    grid-area:                          right;
}

.content-columns .wide {
    grid-area:                          wide;
}





.report img,
.report .no-avatar {
    width:                              64px;
    height:                             64px;
    margin:                             0 8px 0 0;
    border-radius:                      32px;
}

.report .comment {
    width:                              100%;
    padding:                            16px 32px;
    background-color:                   #FFF7D1;
    font-style:                         italic;
}

.report .comment-tail {
    height:                             0;
    width:                              0;
    border-top:                         20px solid #FFF7D1;
    border-left:                        20px solid transparent;
}

.report .subjects {
    background:                         #F8F8F8;
    margin-top:                         24px;
    padding:                            16px 24px 16px 32px;
}

.report .subject {
    display:                            flex;
    align-items:                        center;
    height:                             50px;
    width:                              100%;
}

.report .subject .name {
    width:                              110px;
}

.report .subject .duration {
    margin-left:                        auto;
    font-weight:                        600;
    text-align:                         end;
}

.report .dots {
    display:                            grid;
    grid-auto-flow:                     column;
    width:                              110px;
    height:                             9px;
}

.report .dot {
    width:                              9px;
    height:                             9px;
    border-radius:                      4.5px;
}



/* CHANGE TO DEFAULT UNFOLD OBJECT */

.report .content {
    background:                         #F8F8F8;
    margin-top:                         24px;
    padding:                            8px 0;
}

.report .content .item {
    display:                            flex;
    align-items:                        center;
    height:                             64px;
    width:                              100%;
    padding:                            0 16px 0 32px;
    color:                              #666666;
}

.report .content .item img {
    width:                              24px;
    height:                             24px;
    margin-left:                        auto;
}

.report .content .seperator {
    height:                             1px;
    margin:                             4px 24px;
    background:                         #E6E6E6;
}
