* {
    box-sizing:                         border-box;
    margin: 						    0;
    padding: 						    0;
}

html {
    background-color:                   white;
    color:                              black;
    font-size:                          14px;
    font-family:                        'Source Sans Pro', sans-serif;
    font-weight:                        300;
    -webkit-font-smoothing:             antialiased;
    overscroll-behavior:                none;
}



#wrap {
    display:                            grid;
    grid-template-columns:              1fr 700px 1fr;
    grid-template-rows:                 120px auto 120px;
    grid-template-areas:                ". . ."
                                        ". content ."
                                        ". . .";
    background:                         #E6E6E6;
}

#column {
    grid-area:                          content;
    background:                         white;
    height:                             200px;
}
