* {
    box-sizing:                         border-box;
    margin: 						    0;
    padding: 						    0;
}

html {
    background-color:                   white;
    color:                              black;
    font-size:                          14px;
    font-family:                        'Source Sans Pro', sans-serif;
    font-weight:                        300;
    -webkit-font-smoothing:             antialiased;
    overscroll-behavior:                none;
}



.title {
    font-size:                          18px;
    font-weight:                        400;
    margin-bottom:                      30px;
}

.subtitle {
    font-size:                          14px;
    font-weight:                        300;
    margin-bottom:                      30px;
}



#wrap {
    height:                             100vh;
    display:                            grid;
    grid-template-columns:              1fr 700px 1fr;
    grid-template-rows:                 120px auto 120px;
    grid-template-areas:                ". . ."
                                        ". content ."
                                        ". . .";
    background:                         #E6E6E6;
}

#column {
    grid-area:                          content;
    background:                         white;
    height:                             200px;
    padding:                            120px;
}
