html, body {
    padding:                            20px;
    background-color:                   black;
}

p {
    width:                              400px;
    padding:                            40px;
    margin-bottom:                      20px;
    color:                              white;
    background:                         #181818;
}
